<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
  </head>
  <body>
    <!-- Your page content -->
    <div class="container">
      <h1>Welcome to my page, everybody</h1>
      <p>Have a nice day!</p>

      <div class="text-center">
        <img
          src="https://images.pexels.com/photos/2607544/pexels-photo-2607544.jpeg?cs=srgb&dl=pexels-simonakidric-2607544.jpg&fm=jpg"
          class="rounded w-50"
        />
      </div>
    </div>
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
  </body>
</html>
