<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
  </head>
  <body>
    <h1 style="text-align: center">
      <br /><br />Hello my name is Vera!<br /><br />
      My favorite acronym is WWBD, which stands for:<br />What would Buffy do?
      from the Buffy the Vampire Slayer TV Show.
    </h1>
  </body>
  <!-- Optional JavaScript -->
  {{ bootstrap.load_js() }}
</html>
